{% extends 'base.html.twig' %}

{% block title %}Bienvenue sur antimyo{% endblock %}

{% block body %}
    <style>
        .example-wrapper {
            margin: 1em auto;
            max-width: 800px;
            width: 95%;
            font: 18px/1.5 sans-serif;
        }

        .example-wrapper code {
            background: #F5F5F5;
            padding: 2px 6px;
        }
    </style>

    <h1>Antimyo de la soirée *insérez nom de soirée*<i class="fad fa-joint"></i></h1>
    <table class="table">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Prénom</th>
            <th scope="col">Nom</th>
            <th scope="col">Dépenses</th>
            <th scope="col">Actions</th>

        </tr>
        </thead>
        <tbody>
        {% for key, p in Personne %}
            <tr>
                <th scope="row">{{ key+1 }}</th>
                <td>{{ p.prenom }}</td>
                <td>{{ p.nom }}</td>
                <td>{{ p.solde }}</td>

                <td><a class="btn btn-sm btn-warning" href="{{ path("personne_modifier", {"id":p.id}) }}">Editer</a>
                    <a class="btn btn-sm btn-danger" href="{{ path("personne_supprimer", {"id":p.id}) }}" onclick="return confirm('Êtes-vous sûr ?')">supprimer</a></td>

            </tr>
        {% endfor %}
        </tbody>
    </table>
    <h1>Prix total de la soirée : {{ Resultat|round(2, 'ceil') }} €</h1>
    <h2>Moyenne par personne : {{ moyenne|round(2, 'ceil') }} €</h2>
    <h2>Mouvements à effectuer :</h2>
    {% if Resultat == 0 %}
        Aucun <br>
    {% endif %}

    {% for t in Tableau %}
        {% if t.solde == moyenne %}
            {{ t.prenom }} {{ t.nom }} n'a pas besoin de payer.
        {% elseif t.solde > moyenne %}
            {{ t.prenom }} {{ t.nom }} doit être remboursé de {{ t.rembours|round(2, 'ceil') }} €
        {% else %}
            {{ t.prenom }} {{ t.nom }} doit payer {{ t.dette|round(2, 'ceil') }} €
        {% endif %}<br>
    {% endfor %}
    <a class="btn btn-outline-primary" href="{{ path("personne_ajouter") }}">Ajouter une personne</a>
{% endblock %}
